<!-- footer -->
<footer class="section-footer">
    <div class="container-fluid mt-4">
        <!-- dibagi 2 section footer-top dan footer-bottom -->
        <section class="footer-top padding-y">
            <!-- dibuat satu baris dan 4 aside kesamping -->
            <div class="row">
                <!-- kontak kami -->
                <aside class="col-md-4 col-12 ml-5">
                    <article class="mr-md-4 text-muted">
                        <h6 class="title">KONTAK KAMI</h6>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate, pariatur, sequi minus
                            cum </p>
                        <ul class="list-icon">
                            <li><i class="icon fa fa-map-marker"></i>Jl.Villa Bandung Indah No.12 </li>
                            <li><i class="icon fa fa-envelope"></i>info@myhijab.co.id</li>
                            <li><i class="icon fa fa-phone"></i>+62 822 16141943</li>
                            <li><i class="icon fa fa-clock"></i>Senin-Sabtu 08:00 - 17:00</li>
                        </ul>
                    </article>
                </aside>
                <!-- info myhijab -->
                <aside class="col-md">
                    <h6 class="title">MYHIJAB</h6>
                    <ul class="list-unstyled text-muted">
                        <li><a href="">Tentang Kami</a></li>
                        <li><a href="">Bantuan</a></li>
                        <li><a href="">Karir</a></li>
                        <li><a href="">Blog</a></li>
                        <li><a href="">Kebijakan Privasi</a></li>
                        <li><a href="">Syarat dan Ketentuan</a></li>
                    </ul>
                </aside>
                <!-- pembayaran dan pengiriman -->
                <aside class="col-md-3">
                    <h6 class="title">PEMBAYARAN</h6>
                    <div>
                        <img src="/images/footer/bca.png" alt="bca" height="20">
                        <img src="/images/footer/bni.png" alt="bni" height="15">
                        <img src="/images/footer/bri.png" alt="bri" height="20">
                        <img src="/images/footer/mandiri.png" alt="" height="20">
                        <img src="/images/footer/indomaret.png" alt="indomaret" height="15">
                        <img src="/images/footer/alfamart.png" alt="alfamart" height="15">
                    </div>
                    <br>
                    <h6 class="title">PENGIRIMAN</h6>
                    <div>
                        <img src="/images/footer/jne-express.png" alt="jne" height="20">
                        <img src="/images/footer/j&t.png" alt="j&t" height="15">
                        <img src="/images/footer/pos-indonesia.png" alt="pos indonesia" height="25">
                        <img src="/images/footer/Tiki.png" alt="Tiki" height="20">
                        <img src="/images/footer/wahana-logistik.png" alt="wahana-logistik" height="20">
                    </div>

                </aside>
                <!-- ikuti kami -->
                <aside class="col-md">
                    <h6 class="title">IKUTI KAMI</h6>
                    <ul class="list-icon text-muted">
                        <li><a href=""><i class="icon fab fa-facebook fa-lg"></i>Facebook</a></li>
                        <li><a href=""><i class="icon fab fa-instagram fa-lg"></i> Instagram</a></li>
                        <li><a href=""><i class="icon fab fa-twitter fa-lg"></i> Twitter</a></li>
                        <li><a href=""><i class="icon fab fa-line fa-lg"></i> Line</a></li>
                    </ul>
                </aside>
            </div>
        </section>
        <section class="footer-bottom border-top row ml-5 mr-5">
            <p class="text-muted">&copy; Myhijab 2020. Hak Cipta Dilindungi </p>
        </section>
    </div>
</footer>