<!-- header -->
<header class="section-header">
    <div class="container-fluid menu">
        <!-- header top -->
        <nav class="navbar p-md-0 navbar-expand-sm navbar-light">
            <!-- button collapse -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle Navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="header">
                <!-- kiri -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a href="" class="nav-link text-white"><small><i class="fas fa-phone"></i> +62
                                822 16141943</small></a></li>
                    <li class="nav-item"><a href="" class="nav-link text-white"><small><i class="fas fa-envelope"></i>
                                info@myhijab.co.id</small></a></li>
                </ul>
                <!-- kanan -->
                <ul class="navbar-nav">
                    <li class="nav-item"><a href="" class="nav-link"><i class="fas fa-bell text-white"></i></a></li>
                    <li class="nav-item"><a href="" class="nav-link  text-white"><i class="fas fa-heart text-white"></i>
                            Wishlist</a></li>
                </ul>
            </div>
        </nav>
        <!-- main header -->
        <section class="header-main">
            <div class="row align-items-center">
                <!-- brand logo -->
                <div class="col-lg-2 col-md-3 col-6">
                    <a href="" class="brand-wrap" style="margin-left: 50px;">
                        <img src="/images/logo.png" alt="logo myhijab" height="60">
                    </a>
                </div>
                <!-- kategori button -->
                <div class="col-lg col-sm col-md col-6 flex-grow-0">
                    <div class="category-wrap dropdown d-inline-block float-md-right">
                        <button class="btn dropdown-toggle text-white" type="button" data-toggle="dropdown">
                            <i class="fas fa-bars text-white"></i> <span class="text-white">&nbsp;Kategori</span>
                        </button>
                        <div class="dropdown-menu">
                            <a href="" class="dropdown-item">Aksesoris</a>
                            <a href="" class="dropdown-item">Hijab</a>
                            <a href="" class="dropdown-item">Pakaian Anak</a>
                            <a href="" class="dropdown-item">Pakaian Dewasa</a>
                            <a href="" class="dropdown-item">Sepatu</a>
                        </div>
                    </div>
                </div>
                <!-- Search form -->
                <div class="col-lg col-md-6 col-sm-12 col">
                    <form action="" class="search-wrap">
                        <div class="input-group w-100">
                            <input type="text" class="form-control" style="width:60%;" placeholder="Search">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-outline-light">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Shopping cart & Account -->
                <div class="col-lg-3 col-sm-12 col-md-12 col-12">
                    <div class="widgets-wrap float-md-right mr-5">
                        <a href="" class="widget-header mr-5">
                            <i class="fas fa-shopping-cart fa-3x text-white"></i>
                            <span class="badge badge-pill badge-danger notify">0</span>
                        </a>
                        <a href="" class="widget-header ml-4">
                            <div class="icontext">
                                <i class="fas fa-user-circle text-white fa-lg"></i>
                                <div class="text text-white">
                                    <span>&nbsp; Akun saya</span>

                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</header>