<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"> 
    <link rel="stylesheet" href="/stylesheets/all.min.css"> 
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/responsive.css">
    <link rel="stylesheet" href="/stylesheets/style2.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/ui.css">
    {{!-- <link rel="stylesheet" href="/stylesheets/adminlte.min.css"> --}}
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">  
    <title>{{title}}</title> 
  </head>
  <body>
     
    {{{body}}}

    <script src="/javascripts/jquery-3.4.1.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/popper.min.js"></script>
    <script src="/javascripts/bootstrap.bundle.min.js"></script>
    <script src="/javascripts/script.js"></script>
  </body>
</html>