/* color header */
.menu {background-color: rgb(212, 3, 94);}
/* .mitem {margin-left: 20px; margin-top: 25px;}
img {
    margin: 6px;
} */

/* checkout title */
.ap { 
    color: rgb(212, 3, 94);
}
 
 